## File managed by Ansible ##

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
iface eth0
    address {{ mgmt_ip }}/24
    gateway {{ mgmt_gw }}

{% for item in leaf_interfaces %}
auto {{ item.clag }}
iface {{ item.clag }}
    alias {{ item.desc }}
    bond-slaves {{ item.port }}

{% endfor %}

{% for item in leaf_access_interfaces %}
auto {{ item.port }}
iface {{ item.port }}
    alias {{ item.desc }}
    bridge-access {{ item.vlan }}

{% endfor %}

auto bridge
iface bridge
      bridge-vlan-aware yes
      bridge-ports {{ leaf_bridge_ports }}
      bridge-stp on
      bridge-vids {{ bridge_vlans }}

