hostname {{ ansible_host }}
ip domain-name {{ domain }}
ip subnet-zero
no service pad
no ip bootp server
no service config
service tcp-keepalives-in
service tcp-keepalives-out
no ip http server
no ip http secure-server
