service timestamps debug datetime msec localtime
service timestamps log datetime msec localtime
logging buffered 4096 
no logging console
no logging monitor
logging trap notification
logging host {{ logserver }} vrf vrf-mgmt 
